{{> header }}
    {{> navar }}
    <div class="row">
        <div class="col-8">
            <h1></h1>
        </div>
    </div>
    <div class="col-4">
        <img src="assest/img/img.jpg" class="img-thumbnail" />
    </div>
 {{> footer }}